.icone_connection {
      margin-bottom: 0;
      background-color: #ffff00;
      padding-left: 555px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: Arial;
  }


.color_icone_connection{

    	color:#0000ff;

    }


.identifiant{
	padding-left: 555px;
	font-family: Arial;
}